@mixin inline-buttons {
    button {
        margin: 10px 10px 0 0;
        i {
            margin-right: 5px;
        }
    }
}

.error-box {
    margin-top: 40px;
    background: #e85555;
    border-radius: 5px;
    padding: 10px 10px 10px 30px;
    color: #fff;
}
.question-title {
    border-bottom: 1px solid lightgrey;
    font-size: 20px;
    padding: 20px 0px;
}
.question-view {
    margin-top: 50px;
    overflow-x: hidden;
}
.content-format {
    margin-top: 10px;
    padding-bottom: 25px;
    .left-vote {
        text-align: center;
        color: #6a737c;
        font-size: 20px;
        i {
            cursor: pointer;
            font-size: 35px;
        }
        vertical-align: top;
        width: 50px;
        display: inline-block;
    }
    .right-content {
        vertical-align: top;
        margin: 10px 0 0 10px;
        width: calc(100% - 60px);
        display: inline-block;
        .content-body {
            min-height: 70px;
        }
        .edit-answer {
            @include inline-buttons;
        }
        .edit-question > div {
            margin-bottom: 20px;
            @include question-title;
        }
        .edit-question {
            @include inline-buttons;
            .error-box {
                margin-top: 0px;
            }
            .ql-formats {
                margin: 0px;
            }
        }
        .user-action {
            margin-top: 3px;
            margin-right: 5px;
            font-size: 11px;
            cursor: pointer;
            color: #848d95;
            &:hover {
                color: #3b4045;
            }
        }
    }
    &.answer-type {
        border-bottom: 1px solid lightgrey;
    }
}
.separator {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    &.your-reply {
        border-bottom: none;
        margin-top: 25px;
    }
}
.post-button {
    margin: 20px 0 50px 0;
}
