$heightNavbar: 60px;

.answer-header {
    height: $heightNavbar;
    padding: 0 100px;
    background-color: #24292e;
    overflow: visible;

    .header-wrapper {
        width: 1000px;
        height: 100%;
        margin: auto;
        position: relative;
    }

    .header-logo {
        float: left;
        cursor: pointer;

        .header-img {
            float: left;
            height: 36px;
            margin-top: 12px;
        }
        .header-title {
            float: left;
            height: $heightNavbar;
            line-height: $heightNavbar;
            font-size: 24px;
            color: white;
            margin: 0px 10px;
        }
    }

    .header-input {
        height: $heightNavbar;
        float: left;
        margin-left: 165px; // 300 - 133
        input {
            height: $heightNavbar;
            width: 400px;
            border: 1px solid #E0E0E0;
            border-top: 0px;
            border-bottom: 0px;
            padding-left: 10px;
            box-shadow: none !important;
            outline: none !important;
            background: #373d46;
            color: white;
        }
    }

    .header-buttons-container {
        list-style: none;
        float: left;
        margin: 0;
        & > li {
            cursor: pointer;
            display: inline-block;
            padding: 20px;
            &:first-child {
                margin-left: 10px;
            }
            a {
                text-decoration: none;
                color: white;
            }
            &:hover {
                background: #505050;
            }
        }

        &.header-buttons-container-right {
            float: right;
        }
    }
}

.user-dropdown-li {
    position: relative;
}
.user-dropdown-menu {
    border-radius: 0px;
    padding: 0px;

    & > li {
        padding: 10px;
        &:hover {
            background: #F0F0F0;
            cursor: pointer;
        }
    }
}