.answer-header {
    height: 50px;
    padding: 0 100px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    overflow: hidden;
    .mix-header-logo {
        float: left;
        img {
            height: 30px;
            margin-top: 9px;
            cursor: pointer;
        }
    }
    .mix-title {
        height: 50px;
        float: left;
        font-size: 20px;
        color: #606060;
        margin-left: 5px;
    }
    .mix-buttons-container {
        list-style: none;
        float: left;
        margin: 0;
        li {
            cursor: pointer;
            display: inline-block;
            padding: 15px;
            &:first-child {
                margin-left: 10px;
            }
            &.active {
                background: #f2f2f2;
                border-top: 2px solid $primary-color;
            }
            a {
                text-decoration: none;
                color: #535a60;
            }
            &:hover {
                background: #f2f2f2;
                border-top: 2px solid $primary-color;
            }
        }
    }
}