.login-form {
    width: 400px;
    margin: auto;
    background: #FAFAFA;
    padding: 50px;
    margin-top: 100px;

    .description {
        margin-bottom: 20px;
    }
}

.btn-action-signup {
    float: right;

    a {
        cursor: pointer;
    }
}